<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- GianMakoto-->
    <add name="PresupuestoDBEntities" connectionString="metadata=res://*/ModuloPresupuestoModel.csdl|res://*/ModuloPresupuestoModel.ssdl|res://*/ModuloPresupuestoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=N3AR-PC;Initial Catalog=PresupuestoDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      
    <!-- Magah  

      <add name="PresupuestoDBEntities" connectionString="metadata=res://*/ModuloPresupuestoModel.csdl|res://*/ModuloPresupuestoModel.ssdl|res://*/ModuloPresupuestoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-TAKQ164N1QC\SQLEXPRESS;Initial Catalog=PresupuestoDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
-->
    </connectionStrings>
</configuration>