#nav {
	margin: 0px;
	line-height: 100%;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	/*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);*/
	background-color: #bbd7df;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	background-image: url(img/fnd11.jpg);
	width: 665px;
}
#nav li {
	list-style: none;
	float: left;
	position: relative;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 0px;
}
#nav a {
	margin: 0px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*text-shadow: 0 1px 1px rgba(0, 0, 0, .3);*/
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 6px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
#nav a:hover {
	color: rgb(255, 255, 255);
	background-color: #336699;
}
#nav .current a {
	color: #101691;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);*/
	background-color: #BBD7DF;
	background-image: url(img/gradient.png);
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#nav li:hover > a {
	color: #00068A;
	/*	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);*/
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
#nav ul li:hover a {
	border: currentColor; color: rgb(102, 102, 102); /*-webkit-box-shadow: none; -moz-box-shadow: none;*/
}
#nav li:hover li a {
	border: currentColor; color: rgb(102, 102, 102); /*-webkit-box-shadow: none; -moz-box-shadow: none;*/
}
#nav ul a:hover {
	color: rgb(255, 255, 255) !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	/*	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
	background-color: #97BAD5;
	background-image: url(img/gradient.png);
	background-repeat: repeat-x;
	background-position: 0px -100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
#nav li:hover > ul {
	display: block;
}
#nav ul {
	margin: 0px;
	padding: 0px;
	/*	border: 1px solid #B7E2FF;*/
	left: 0px;
	top: 28px;
	width: 250px;
	display: none;
	position: absolute;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);*/
	background-color: #CCEBFF;
}
#nav ul li {
	margin: 0px; padding: 0px; float: none;
}
#nav ul a {
	font-weight: normal; /*text-shadow: 0 1px 0 #fff;*/
}
#nav ul ul {
	left: 181px; top: -3px;
}
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px; -moz-border-radius-topleft: 9px; -webkit-border-top-right-radius: 9px; -moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px; -moz-border-radius-bottomleft: 9px; -webkit-border-bottom-right-radius: 9px; -moz-border-radius-bottomright: 9px;
}
#nav::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
#nav {
	display: inline-block;
}
